:root {
    --light-grey: #c9c9c9;
    --dark-grey: #6b6b6b;
    --black: #000000;
    --white: #ffffff;
}

body {
    margin: 0;
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
}

.navbar-brand img {
    height: 40px;
    margin-right: 20px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--white);
}

.menu-items {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.menu-items.open {
    transition: max-height .6s ease-in-out;
    max-height: 500px;
}

.nav-menu button {
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    padding: 10px;
}

.scroll-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.scroll-section.active {
    opacity: 1;
    z-index: 1;
}

#section1 {
    background: var(--light-grey);
}

#section2 {
    background: var(--dark-grey);
}

#section3 {
    background: var(--light-grey);
}

#section4 {
    background: var(--dark-grey);
}

#section5 {
    background: var(--light-grey);
}

.main-container {
    background-color: var(--white);
    margin: 5vh 0% 0% 0%;
    width: 90vw;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.main-description {
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
    margin: 0% 2% 2% 2%;
}

.secondary-description {
    text-align: center;
    padding: 0px 20px 8px 20px;
    font-size: 20px;
    margin: 5px;
}

.models-section {
    display: flex;
    margin: 0% 0% 2% 0%;
    height: inherit;
}

.subsection {
    margin: 0% 2% 0% 2%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.details {
    background: var(--black);
    border: none;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    font-size: calc(1.1vh + 1.1vw);
    margin-bottom: 10vh;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 35vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #fc9e47c0;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

button:active {
    background-color: #555;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: rgba(189, 189, 189, 0.568);
    color: var(--b);
    border-radius: 10px 10px 0px 0px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: calc(1.1vh + 1.1vw);
    padding: 0% 2% 0% 2%;
}

h2 {
    font-size: calc(1.8vh + 0.8vw);
}

h3 {
    font-size: calc(1.5vh + 0.5vw);
}

.floating-demo-button {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 1001;
}

.contact-us {
    background: #ff9100d7;
    border: none;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    font-size: calc(1.5vh + 1.5vw);
    font-weight: bold;
    box-shadow: 0 6px 10px rgba(253, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: calc(12vh + 12vw);
    height: calc(3vh + 3vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-container {
    display: flex;
    height: 90%;
}

video {
    width: 100%;
    border-radius: 10px;
}

.close-video {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--black);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.carousel {
    border-radius: 10px;
    background-color: #8d8c8cab;
    position: relative;
    width: 80vw;
    height: 60vh;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.modern-bullet-list {
    list-style: none;
    padding: 4%;
    margin: 0;
    /* padding: 0; */
    text-align: left;
}

.modern-bullet-list li {
    /* position: relative; */
    /* padding-left: 25px; */
    margin-bottom: 0.1vh;
    font-size: calc(1.3vh + 1.1vw);
}

.modern-bullet-list li::before {
    content: '✔️';
    color: green;
    margin: 0;
    padding: 0;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    /* padding-left: 25px; */
}

.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #ff9100;
    transition: width 0.2s;
}

.carousel-panel {
    position: absolute;
    width: 80vw;
    height: 60vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
}

.carousel-panel.active {
    opacity: 1;
    position: relative;
}

.carousel-panel h3 {
    height: 10%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-panel p {
    height: 30%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
}

.img-carousel {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-carousel img {
    border-radius: 10px;
    max-width: 95%;
    max-height: 95%;
    object-fit: cover;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    align-items: center;
}

.carousel-arrow {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 2em;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.left-arrow {
    position: absolute;
    left: 10px;
}

.right-arrow {
    position: absolute;
    right: 10px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #ff9100;
}

#section3 .carousel {
    height: 40vh;
    width: 50vw;
}

#section3 .main-container {
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#section3 .carousel-panel{
    justify-content: space-evenly;
}

#section4 .img-carousel {
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
}

#section4 .img-carousel img {
    border-radius: 10px;
    max-width: 95%;
    max-height: 40%;
    margin: 2% 0;
    object-fit: cover;
}

#section5 .models-section {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 60vh;
    margin: 0;
}

#section5 .subsection {
    width: 100%;
    height: 100%;
    margin: 0px 1% 0 1%;
}

#section5 .carousel {
    width: 100%;
    height: 100%;
    margin 0;
}

.carousel-panel {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#section5 .card {
    height: 45%;
    width: 100%;
    justify-content: center;
}

#section5 .details {
    margin-bottom: 15%;
    width: 80%;
    height: 25%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: lightgray;
    margin: 10% auto;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
    color: var(--black);
}

.modal-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.contact-questions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal p{
    margin: 0px;
    font-size: 100%;
}

.modal h3 {
    display: flex;
    font-size: calc(1.5vh + 1.5vw);
    flex-direction: column;
    align-items: center;
}

.modal-header img {
    width: 50%;
}

.close-modal {
    background: var(--black);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1.2vh + 1.2vw);
}

.contact-list i {
    font-size: calc(1.2vh + 1.2vw);
}

.contact-list a {
    text-decoration: none;
    color: var(--black);
    font-size: calc(1.2vh + 1.2vw);
}

.contact-list a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .fixed-nav {
        position: fixed;
        top: 0;
        width: 100%;
        background: var(--black);
        color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        z-index: 1000;
        flex-direction: row;
        align-content: space-between;
        flex-wrap: nowrap;
    }

    .hamburger-menu {
        display: block;
    }

    .menu-items {
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .menu-items.active {
        max-height: 500px;
    }

    .menu-items button {
        width: 100%;
        padding: 10px;
        text-align: left;
    }

    .fixed-nav .title {
        display: block;
    }

    #section5 .demos-carousels {
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;
        height: 50%;
        margin-top: 2%;
        border-radius: 10px;
    }

    #section5 .video-demos {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
}